{% extends 'base.html' %}

{% block content %}

<div class="container text-center pt-5 ">

    <h1 >ABOUT US</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat in aperiam consequatur tempore, facere laborum totam iusto dolor omnis? Nostrum praesentium voluptas, odio aliquid assumenda adipisci ipsa explicabo harum fugiat, quia ab dolor nemo porro quas optio? Sequi, officia?</p>


</div>
<div  class="d-flex flex-row p-2">

    <img src="https://content3.jdmagicbox.com/comp/kozhikode/a3/0495px495.x495.170828220102.t4a3/catalogue/potafo-online-food-delivery-bank-road-kozhikode-1vbeh8rypm.jpg" alt="potafo-img">
    <img  src="https://content3.jdmagicbox.com/comp/kozhikode/a3/0495px495.x495.170828220102.t4a3/catalogue/potafo-online-food-delivery-bank-road-kozhikode-1vbeh8rypm.jpg" alt="potafo-img2">
    <img src="https://content3.jdmagicbox.com/comp/kozhikode/a3/0495px495.x495.170828220102.t4a3/catalogue/potafo-online-food-delivery-bank-road-kozhikode-1vbeh8rypm.jpg" alt="potafo-img3">


</div>





{% endblock content %}